body{
    background: url('../../assets/background/sign_in.png');
    width: 100%;
}
.form-control{
box-shadow: none !important;
border-radius: 0px;
border: none;
    background-color: transparent;
    border-bottom:2px solid #fff;
    margin-top: 5px;
    color: #fff !important;
}
::placeholder {
    color: white;
  }


