.item.item-trns {
	border-color: rgba(0, 0, 0, 0) !important;
	background-color: rgba(0, 0, 0, 0);
    color: white; 
    border: none !important;
    box-shadow: none !important;
    // border-bottom: 1px solid #eaeaea !important;


}
.konten{
    background: url('../assets/background/sidemenu.jpg');
    width: 100%;
    height: 100%;
}
ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
    }
ion-avatar{
width: 150px;
height: auto;
}
.avatar{
    margin: auto;
}
.col{
    border:2px solid #7193e0;
    border-radius: 50px;
    width: 80px;
    margin: auto;

 }
